<div class="min-h-screen w-full bg-gray-900">
  <div class="max-w-5xl min-w-5xl mx-auto flex flex-col space-y-8 ">
    <div class="text-gray-200 mt-8 mb-20">
      <h2 class="text-5xl font-semibold  mb-4 text-center">Bienvenue sur ZeddVibes</h2>
      <h4 class="text-xl text-center">Ajoutez du contenu a votre Dahsboard en deux etapes:</h4>
    </div>
    <h2 class="text-gray-300 ">1.Personnaliser votre dashboard en choisissant un service</h2>
    <div class="text-gray-300 font-medium space-y-8">
      <div class="grid grid-cols-7 gap-x-3">
        <!-- <div class="col-span-2">
          <h2 class="col-span-2 p-4 rounded-sm bg-gray-800">Lifestyle</h2>
        </div> -->
        <div class="col-span-5 space-x-2 -mt-2 space-y-2">
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700" onclick="add('Cinema')">Cinema</button>
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('RSS')">RSS</button>
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('Weather')">Weather</button>
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('Exchange')">Exchange</button>
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('Steam')">Steam</button>
        </div>
      </div>
      <div class="grid grid-cols-7 gap-x-3">
        <!-- <div class="col-span-2">
          <h2 class="col-span-2 p-4 rounded-sm bg-gray-800">Lifestyle</h2>
        </div> -->
        <div class="col-span-5 space-x-2 -mt-2 space-y-2">
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('Google Maps')">Google Maps</button>
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('Youtube')">Youtube</button>
          <button class=" p-4 rounded-sm bg-gray-800 hover:bg-gray-700"  onclick="add('Reedit')">Reddit</button>
        </div>

    </div>
  </div>
  <div class="flex items-center justify-start mt-12">
    <div>
      <button class="px-6 py-3 text-green-500 border-2 border-green-500 hover:bg-green-500 hover:text-green-100">Reinitialiser</button>
      <button class="px-5 py-3 text-green-100 border-2 bg-green-500 border-green-500 hover:bg-green-600 hover:border-green-600" onclick="next()">Suivant</button>
    </div>
  </div>
</div>