<!DOCTYPE html>
<html>

<head>
    <title>
        Netvibes
    </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.fp.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.jQueryUI.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.min.css" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body >
    <main class="relative">
        <% if(!user) { %> 
        <%- include('./partials/header.ejs') %>
        <% } %> 
        <%- body %>
        <% if (!user) { %>
            
            <%- include('./partials/footer.ejs') %>
        <% } %>
    </main>


    <script defer src="/javascripts/script.js"></script>
    <script defer src="/javascripts/services.js"></script>
</body>

</html>