<section class="h-screen filter brightness-50 flex items-center justify-center"
  style="background-image: url(https://cdn.netvibes.com/sites/default/files/home/blockA/background/background_top.jpg)">
  <h1 class="text-5xl text-white">ZeddVibes</h1>
</section>
<!-- <div class="absolute h-screen w-full flex items-center justify-center bg-gray-700 bg-opacity-50 top-0">
  <div class="w-2/6 bg-white flex items-center justify-center">
    <form action="" method="post">
      <div>
        <input type="email" name="" id="" class="p-3 border-2 border-green-400 rounded-md">
      </div>
      <div>
        <input type="password" name="" id="" class="p-3 border-2 border-green-400 rounded-md">
      </div>
      <button type="submit" class=""></button>
    </form>
  </div>
  </div> -->
