<section class="h-96 filter brightness-50 flex items-center justify-center"
  style="background-image: url(https://cdn.netvibes.com/sites/default/files/home/blockA/background/background_top.jpg)">
  <h1 class="text-5xl text-white">ZeddVibes</h1>
</section>

<section>
    <h1 class="text-5xl text-center my-4">Prenez le contrôle de votre vie numérique</h1>
    <div class="text-center w-4/5 mx-auto text-2xl my-8">
      <p>Personnalisez votre Dashboard pour suivre vos centres d'intérêts. Consultez vos réseaux sociaux, recevez des alertes
      d'actualité ou lisez des articles sur les sujets qui vous importent. Affichez votre calendrier, votre liste de tâches,
      vos emails et vos applications en un seul endroit. Connectez vos appareils intelligents pour contrôler automatiquement
      votre Internet des objets.</p>
    </div>

    <div>
      <img src="/assets/dashboard.PNG"  class="w-4/5  mx-auto my-8" alt="">
    </div>
</section>
<section class="bg-gray-400">
  <div class=" ml-40 h-full flex items-center text-xl text-white text-justify ">
    <p class="pr-12">
      Partagez vos Dashboards avec toute votre équipe ou votre entreprise. Travaillez ainsi en collaboration, mettez vos
      connaissances en commun et prenez vos décisions grâce aux apps d'analyse, aux Dashboards hiérarchiques, à l'envoi
      automatique de rapports Pushmail et à nos autres fonctionnalités dédiées aux professionnels.
    </p>
    <img src="/assets/dashboard.PNG"  class="w-1/2 mr-40" alt="">
  </div>
</section>
<!-- <div class="absolute h-screen w-full flex items-center justify-center bg-gray-700 bg-opacity-50 top-0">
  <div class="w-2/6 bg-white flex items-center justify-center">
    <form action="" method="post">
      <div>
        <input type="email" name="" id="" class="p-3 border-2 border-green-400 rounded-md">
      </div>
      <div>
        <input type="password" name="" id="" class="p-3 border-2 border-green-400 rounded-md">
      </div>
      <button type="submit" class=""></button>
    </form>
  </div>
  </div> -->
