<section class="h-screen filter brightness-50 flex items-center justify-center" style="background-image: url(https://cdn.netvibes.com/sites/default/files/home/blockA/background/background_top.jpg)">
  <h1 class="text-5xl text-white">NetVibes Clone</h1>
</section>