<div class="h-20 shadow-md">
    <nav class="h-full w-1/2 mx-auto">
        <ul class="flex justify-end space-x-8 items-center h-full text-xl">
            <li><a href="#">Offres</a></li>
            <li><a href="">Tarifs</a></li>
            <li><a href="">Blog</a></li>
            <li class=""><button id="login-btn" class="appearance-none">Se connecter</button></li>
            <li><button id="register-btn" href="" class="register py-3 px-6 rounded-sm text-white bg-green-600 hover:bg-green-500">S'inscrire</button></li>
        </ul>
    </nav>
</div>

<!-- The Login Modal -->
<div id="login-modal" class="modal absolute flex items-center justify-center top-0 h-0 overflow-hidden w-full bg-gray-700 bg-opacity-50 z-10">
    <!-- Modal content -->
    <div class="modal-content w-1/4 p-4 py-6 rounded-md  bg-white">
        <div class="flex justify-end"><span class="close cursor-pointer">&times;</span></div>

        <div>
            <form method="post" action="auth/register">
                <div>
                    <label for="" class="block">E-mail</label>
                    <input type="email" name="email" class="w-full border-2 p-2 rounded-md outline-none" />
                </div>
                <div> 
                    <label for="" class="block">Password</label>
                    <input type="password" name="password" class="w-full border-2 p-2 rounded-md outline-none " />
                    <button class="bg-green-700 text-green-100 text-xl text-medium hover:bg-green-600 w-full p-2.5 rounded-md mt-4 text-white">S'inscrire</button>
                    <div class="pt-6">
                        <h2 class="text-center">ou Connectez-vous</h2>
                    <button class="bg-red-500 text-red-100 text-xl font-medium hover:bg-red-600 w-full p-2.5 rounded-md mt-4 text-white">Google</button>
                    <button class="bg-blue-500 text-blue-100 text-xl font-medium hover:bg-blue-600 w-full p-2.5 rounded-md mt-4 text-white">Twitter</button>

                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>

<!-- The Register Modal -->
<div id="register-modal" class="modal absolute flex items-center justify-center top-0 h-0 overflow-hidden w-full bg-gray-700 bg-opacity-50 z-10">
    <!-- Modal content -->
    <div class="modal-content w-1/4 p-4 py-6 rounded-md  bg-white">
        <div class="flex justify-end"><span class="close cursor-pointer">&times;</span></div>

        <div>
            <form method="post" action="auth/register">
                <div>
                    <label for="" class="block">E-mail</label>
                    <input type="email" name="email" class="w-full border-2 p-2 rounded-md outline-none" />
                </div>
                <div> 
                    <label for="" class="block">Password</label>
                    <input type="password" name="password" class="w-full border-2 p-2 rounded-md outline-none " />
                    <button class="bg-green-700 text-green-100 text-xl text-medium hover:bg-green-600 w-full p-2.5 rounded-md mt-4 text-white">S'inscrire</button>
                    <div class="pt-6">
                        <h2 class="text-center">ou Connectez-vous</h2>
                    <button class="bg-red-500 text-red-100 text-xl font-medium hover:bg-red-600 w-full p-2.5 rounded-md mt-4 text-white">Google</button>
                    <button class="bg-blue-500 text-blue-100 text-xl font-medium hover:bg-blue-600 w-full p-2.5 rounded-md mt-4 text-white">Twitter</button>

                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>